* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    transition: all 0.2s;
}

:root {
    --primary-color : #edf2fc;
    --secondary-color : #212121;
}
body {
    background: var(--secondary-color);
}

.dark-theme {
    --primary-color : #000000;
    --secondary-color : #ffffff;
}

.navbar{
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: auto;

        li {
            background-color: red;
            color: var(--primary-color);
            padding: 6px;
            margin: auto;
            box-shadow: 0px 0px 10px var(--secondary-color);
            border-radius: 4px;
            img {
                display: block;
                margin: auto;
                width: 40px;
                cursor: pointer;
            }
        }

    }
}